<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Items</title>
</head>

<body>
    <h1>List of users</h1>
    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            <% console.log(data) %>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].firstname %></td>
                <td><%= data[i].surname %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>